@charset "utf-8";
/* CSS Document */
* {
	box-sizing:border-box;
}

body{
	background-image: url(be5dd8304c18ba80eac514ae04f96606c47d587d.jpg);
    background-color: #283625; 
   }
 
.cont{
	width: 1100px;
	margin: 0 auto;
}

header {
	width: 100%;
	margin: 0;
	background-color: black;
	min-height: 200px
}
nav{
	width: 100%;
	margin: 0;
	background-color: black;
	height: 50px;
	}
nav ul{
	list-style-type: none;
	} 
nav ul li{
	float: left;
}
nav ul li a{
	text-decoration: none;
	font-family: "Times New Roman", "serif";
	color: white;
	display:inline-block;
	background-color: black;
	padding-left:  100px;
	min-height: 50px;
	min-width: 100%;
	line-height: 50px;
}
.maincont{
	width: 100%;
	margin: 0;
	background-color: rgb(56, 53, 48);
	min-height: 500px;
	float:left;
}
main{
	width: 75%;
	margin: 0;
	background-color: gray;
	min-height: 500px;
	float:left;
}
footer{
	width: 100%;
	margin:0;
	background-color: rgb(61, 94, 81);
	min-height: 50px;
	float:left;
}
.news {
	max-width: 690px;
	position: relative;
	padding: 10px;
}
.news-title {
	padding: 12px 0;
	position: relative;
}
.news-title h1 a {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
	text-decoration: none;
}
.news-title h1 a:hover {
    text-decoration: underline;
	position: relative;
}
.news-content img {
	max-width: 614px;
	margin: 6px 0;
	border-bottom: 2px solid #ffffff;
    border-radius: 3px;
	position: relative;
}
.news-content {
	font-size: 16px;
}
.date  { color: #000000; font-family: "PT Sans"; font-size: 11px; text-transform: uppercase; }
.p {
	position: relative;
    left: 10px;
    top: 10px;
	font-size: 16px;
}
.iframe {
	max-width: 614px;
	margin: 6px 0;
	border-bottom: 2px solid #ffffff;
    border-radius: 3px;
	position: relative;
}
.copyright {
	padding: 35px 35px 0 42px;
	width: 613px;
	color: #b2bbc0;
	font-size: 14px;
}
.copyright span {
	display: block;
    color: #e3ebf0;
    font-weight: bold;
}
.right-sidebar {
	float: right;
	width: 310px;
}
.block {
	padding: 0 27px 0 11px;
	position: relative;
	left: 10px;
}
.block-title  {
	padding: 14px 12px;
	width: 248px;
	height: 23px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;	
	text-shadow: 0.5px 0.9px 2px #0b0d0c;
	position: relative;
	left: 10px;
}
.block-content {
	padding: 12px;
	position: relative;
	left: 10px;
}
.block-content b {
	color: #fff;
	position: relative;
	left: 10px;
}
.p1 {
	color: #ffffff;
}